@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*Global tags*/

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: blueviolet;
}

span{
    font-size: 0.9rem;
    color: chocolate;
}

#bon{
    color: blanchedalmond;
        font-size: 2.2rem;
        letter-spacing: 1px;
        background-color: green;
        border-radius: 35px 25px 46px 55px;
        padding-left: 8px;
    }



h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/*navigation*/

nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 1vw 4vw;
    align-items: center;
    background-color: white;
    box-shadow: 0 5px 7px 0 rgba(31, 38, 135, 0.18);
    height: 12vh;
    z-index: 999;
    
}

nav img{
    width: 55px;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 100px 100px 100px 100px;
    padding-top: 28px;

}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation{
    display: flex;
    
}

#menu-btn{
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close{
    display: none;
}

#close-menu{
    display: none;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 35px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: rgb(10, 10, 57);
    font-size: 15px;
    font-weight: 600;
    transition-delay: 0.3s ease;
}

nav .navigation ul li a:hover{
    color: goldenrod;
}

/* Home */

#home{
    text-align: center;
    padding-top: 70px;
}

#home .btn a{
    text-decoration: none;
    padding: 15px 25px;
    font-size: 0.9rem;
}

#home .d-blue{
    color: yellowgreen;
    background-color: brown;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 13px 13px;
    
}

#home .g-gold{
    color: yellowgreen;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 13px 13px;
}


#home .d-blue:hover{
    color: rgb(167, 28, 30);
    background-color: rgb(119, 57, 102);
    transition: 0.3s ease-in-out;
}

#home .g-gold:hover {
    color: rgb(167, 28, 30);
    background-color: rgb(67, 14, 53);
    transition: 0.3s ease-in-out;
}

#home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)), url(./img/bg-pic.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#home h2{
    color: blanchedalmond;
    font-size: 2.2rem;
    letter-spacing: 1px;
    padding: 5px;
}

#home #para{
    color: whitesmoke;
    width: 60%;
    line-height: 26px;
    font-size: 0.9rem;
    padding: 5px;
}

#home .btn{
    padding: 5px;
}

#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base{
    width: 100px auto;
    display: flex;
    /*grid-template-columns: repeat(auto
    min-max(320, 1fr));*/
    grid-gap: 0.5rem;
    margin-top: 50px;
    height: 100%;*/
}


#features .fea-box{
    background-color: rgba(255, 243, 243, 0.969);
    text-align: start;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}

#features .fea-box i{
    font-size: 2.2rem;
    color: rgb(20, 20, 26);
}

#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 7px 0 7px 0;
}

#features .fea-box p{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(70, 70, 89);
}

#courses{
    text-align: center;
    padding: 8vw 8vw 8vw 8vw;
}


#courses .course-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    padding: 5px 5px 5px 5px;
    margin-top: 50px;
}



#courses .our-courses{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 2px 0 rgba(31, 38, 135, 0.28);
    margin: 7px;
    padding: 15px 15px;
    transition: 1s;
    position: relative;
}

#courses .our-courses:hover{
    color: whitesmoke;
    background-color: rgb(104, 104, 173);
    transform: scale(0.9);
    cursor: pointer;
}

#courses .our-courses img{
    display: block;
    width: 35vh;
    height: 35vh;
    background-position: center;
    background-size: cover;
    border-radius: 8px 8px 8px 8px;
    margin-left:5px;
}

#courses .stars i{
    color: gold;
    font-size: 15px;
    font-weight: 800;
}

#courses .our-courses .details{
    padding-left: 1px;
    padding-right: 1px;
}

#courses .our-courses .price-tag{
    background-color: rgb(221, 160, 4);
    color: #fff;
    font-size: 12px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    right: 35px;
    bottom: 60px;
    box-shadow: 0 8px 2px 0 rgba(60, 60, 60, 0.1);
    border: 2px solid white;
}

/* Search Bar*/

.search-bar{
    width: 100%;
    min-height: 10vh;
    padding: 5% 5%;
    text-align: end;
    background-position: center;
    background-size: cover;
    display: flex;
}

.search-bar1{
    width: 100%;
    max-width: 700px;
    height: 4vh;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-radius: 60px;
}

.search-bar1 input{
    color: black;
    flex: 1;
    border-color: rgb(10, 10, 57);
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: beige;
    border-radius: 60px;
    height: 0.3vh;
}
/*Registration*/

#registration{
    padding: 6vw 8vw 6vw 8vw;
    background-image:linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)),  url(./img/bg-pic.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder{
    color: #fff;
}

#registration .reminder h1{
    color: #fff;
}
#registration .reminder .time{
    display: flex;
    margin-top: 40px;
    
}

#registration .reminder .time .date{
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 2px 0 rgba(31, 38, 135, 0.28);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin: 0 5px 10px 5px;
    border: 0.5px solid #fff;
    font-size: 1.1rem;
    font-weight: 600
}

#registration .form{
    margin-top: 50px;
    background-color: rgb(232, 225, 216);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 2px 0 rgba(31, 38, 135, 0.38);
    transition: 1s;
}

#registration .form:hover{
    background-color: goldenrod;
    transform: scale(1.2);
}

#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid gray;
    border-radius: 50px;
    outline: none;
}

#registration .form ::placeholder{
    color: rgb(11, 11, 31);
    font-weight: 400;
    font-size: 0.9rem;
}

#registration .form .btn .d-blue{
    text-decoration: none;
    color: yellowgreen;
    background-color: brown;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    padding: 10px;
}

#registration .form .btn{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#registration .form .btn .d-blue:hover {
    color: black;
    background-color: #fff;
    transition: 0.3s ease;
}

/*experts*/

#experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#experts h1{
    color: black;
}

#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    /*align-content: flex-start;*/
    margin-top: 50px;
}

#experts .expert-box p{
    font-size: 14px;
}

#experts .expert-box img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

#experts .expert-box .profile{
    background: #fafaf1;
    padding: 30px 10px;
    border-radius: 10px;
}

.links{
    margin-top: 10px;
}

.links i{
    padding:10px 13px ;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s ease;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 5px 2px 0 rgba(31, 38, 135, 0.28);
}

.links i:hover{
    color: #fff;
    background: rgb(228, 228, 10);
    backdrop-filter: blur(4px);
    border: 1px solid blue;
    transform: scale(1.1);
    
}

/*Footer*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 8vw;
    background-color: #101c32;
}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: rgb(234, 233, 241);
    font-weight: 650;
    padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover{
    color: rgb(167, 28, 30);
}

footer p{
    color: #7b838a;
}

footer .subscribe{
    margin-top: 20px;
}

footer input{
    padding: 15px 12px;
    background-color: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}

footer .subscribe  .yellow{
    color: #fff;
    text-decoration: none;
    text-decoration: none;
    padding: 12px 15px;
    font-size: 0.9rem;
    background-color: yellow;
    font-weight: 600;
    transition: 0.3s ease;
}

footer .subscribe .yellow:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}

.copyright .footer-links i{
    padding: 10px 13px;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s ease;
    width: fit-content;
    height: fit-content;
    
}

.copyright .footer-links i:hover {
    color: #fff;
    background: blue;
    backdrop-filter: blur(4px);
    border: 1px solid blue;
    transform: scale(1.1);
}

footer .copyright{
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

footer .copyright p{
    color: white;
}

@media (max-width: 769px) {
    nav {
            padding: 15px 20px;
        }
        nav img {
            width: 130px
        }
        #menu-btn {
            display: initial;
        }
        #menu-close {
            display: initial;
            font-size: 1.6rem;
            color: #fff;
            padding: 30px 0 20px 20px;
        }
        nav .navigation ul{
            position: absolute;
            top: 0;
            right: -200px;
            width: 150px;
            height: 100vh;
            background: rgba(17, 20, 104, 0.45);
            backdrop-filter: blur(4.5px);
            border: 1px solid rgba(255, 255, 255, 0.18);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            transition: 0.3s ease;
        }

        nav .navigation ul.active{
            right: 0;
        }

        nav .navigation ul li{
            padding: 20px 0 20px 40px;
            margin: 0;
        }

        nav .navigation ul li a{
            color: #fff;
        }
        
        #home #para {
            width: 90%;
        }
        
        #home {
            padding-top: 0;
        }

        #features {
            padding: 8vw 4vw 0 4vw;
        }

        #courses {
            padding: 8vw 4vw 0 4vw;
        }

        #experts {
            padding: 8vw 8vw 4vw 8vw;
            text-align: center;
                }
}














